@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #7091E6;
    /* background: url('images/Norales, Citlaly.jpg') no-repeat; */
    /* background-attachment: fixed;
    background-position: right top; */
    /* background-size: cover;  */
    background-size: 500px;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 28px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #7091E6;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 24px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover, .navbar a.active {
    color: #0A090C;
}

.home {
    height: 100vh;
    background: url('images/Norales, Citlaly.jpg') no-repeat;
    background-size: 500px;
    background-position: right top;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}


.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #7091E6;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #0A090C;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #7091E6;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #7091E6;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #7091E6;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #0A090C;
    border: 2px solid #0A090C;
    border-radius: 8px;
    font-size: 19px;
    color: #7091E6;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #0A090C;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #0A090C;
}

.btn-box a:nth-child(2):hover {
    color: #7091E6;
}

.btn-box a:nth-child(2)::before {
    background: #0A090C;
    color: #7091E6;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #7091E6;
    z-index: -1;
    transition: .5s;

}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #7091E6;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0A090C;
    border-radius: 50%;
    font-size: 20px;
    color: #0A090C;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #7091E6;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0A090C;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    background: url('images/Norales, Citlaly.jpg') no-repeat;
    background-size: 500px;
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover {
    background: #7091E6;
    opacity: .8;
}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background: #7091E6;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}
@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

/* Resume.html */
/* #resume {
    background-color: #d9a5b3;
} */

#resume header {
    position: relative;
}

#resume section {
    width: 100%;
    /* height: 100vh; */
    /* background-size: 500px; */
    background-position: right top; 
    display: inline;
    padding: 10 10%;
}
#sendUp {
    width: 100%;
    margin-left: 90%;
    text-align: right;
}

#sendUp a {
    text-decoration: none;
}

.resume {
    margin-left: 1%;
    text-align: left;
    font-family: "Work Sans";
    font-size: 24px;
}
hr {
    height: 100px;
    /* background: #f8f8f8; */
    margin: 0;
    border: 0;
}

section.resume div {
    width: 100%;
    background: white; 
    color: white;
    padding: 10px;
    margin: 0;
    line-height: 1;
    display: flex;
    font-family: "Work Sans";
}

#resume section div a {
    width: 14%;
    padding: 10px;
    margin: 0;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
}

#resume .container {
    display: block;
    width: 50%; 
    /* background-color: white;  */
    background-color: #c6d7eb;
    margin: 10px;
    border-radius: 10px;
}

.skills {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.skills p  {
    margin-right: 2%;
    text-align: right;
    color: white;
}

.html {width: 60%; background-color:#1868ae;} 
.css {width: 60%; background-color: #1868ae;} 
.js {width: 45%; background-color: #1868ae;} 
.java {width: 50%; background-color: #1868ae;}
.c-plus {width: 60%; background-color: #1868ae;} 
.python {width: 65%; background-color: #1868ae;} 
.arduino {width: 25%; background-color: #1868ae;}
.scratch {width: 40%; background-color: #1868ae;} 
.word {width: 85%; background-color: #1868ae;}  
.powerpoint {width: 85%; background-color: #1868ae;} 
.excel {width: 70%; background-color: #1868ae;} 
.eng {width: 90%; background-color: #1868ae;} 
.spanish {width:82%; background-color: #1868ae;} 

.skill-bar::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    /* height: 100%; */
    background: #c6d7eb;
    animation: showText 0.5s 1s linear forwards;
}


@keyframes showText {
    100% {
        opacity: 1;
    }
}

.workExp, .projects, .education, .certification {
    margin-left: 2%;
    display: inline-block;
}



footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer::before {
    content: '';
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7091E6;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

footer a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

footer a:hover {
    color: white;
}

footer a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    z-index: -1;
    transition: .5s;
}

footer a:hover::before {
    width: 100%;
}